---
title: VerificationResult
---
## VerificationResult

## Properties

|Name | Type | Description | Notes|
|------------ | ------------- | ------------- | -------------|
| **status** | **String** | The verification status. | [optional] |
| **records** | [**[Record]**](Record.html) | The list of DNS records that pertain that need to exist for verification. | [optional] |
{: class="table table-striped"}


